name: Add Todo

on: push

permissions:
  id-token: write
  contents: read

env:
  ACR_USERNAME: "anjaliacr"
  ACR_PASSWORD: "MaWemeaUNFPIFcd5RbUjf+gjp2bph0uffjsIFWB0BN+ACRC84zOf"

jobs:
  my_first_job:
    name: Build and Push Images
    runs-on: anjali
    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.0
    
    - name: Azure Login
      uses: Azure/login@v2.3.0
      with: 
        client_id: "7b20495a-a14c-4ef2-bd11-222bf2538418"
        tenant_id: "af734fcf-6a49-4af5-8ec9-51df7466b2c5"
        subscription_id: "95a90f4b-7e15-47ba-95ab-0d52bac078e4"
        
    - name: Login to ACR
      uses: docker/login-action@v3
      with:
          registry: "anjaliacr.azurecr.io"
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: docker build -t gettodo:v1 .

    - name: Tag Image
      run: docker tag gettodo:v1 anjaliacr.azurecr.io/gettodo:v1

    - name: Push Images to ACR
      run: docker push anjaliacr.azurecr.io/gettodo:v1 

    
   
          
